.mat-card {
    border-radius: 5%;
    max-width: 30vw;
    min-width: 300px;
    margin: 20px;
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    color: white;
}

.sub {
    color: white;
}

.slider {
    width: 100%;
}
